<a href="https://colab.research.google.com/github/schmuecker/machine-learning-course/blob/main/01%20explorative-analysis-pca/01.3%20pca/%C3%9Cbung_1.3_PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import der Bibliotheken

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

np.__version__, pd.__version__

('1.19.5', '1.1.5')

## Download der Housing Daten

In [ ]:
fileUrl = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'

cols = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B',
        'LSTAT','TGT']

eData = pd.read_csv(fileUrl, sep=' ', skipinitialspace=True, header=None, names=cols, 
                     index_col=False)

dateDownloaded = !date #Calling Linux
dateDownloaded

['Thu Oct 21 10:08:46 UTC 2021']

In [ ]:
eData

        CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT   TGT
0    0.00632  18.0   2.31     0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222.0     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...    ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273.0     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273.0     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273.0     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273.0     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273.0     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [ ]:
eData['CRIM'].mean()

3.6135235573122535

In [ ]:
for tuple in eData.itertuples():
    row = tuple[0]
    values = tuple[1:]
    for column in eData:
      #print(index, column)
      eData.at[row, column] = eData.at[row, column] - eData[column].mean()
      #for columnIndex, value in enumerate(values):
      #print(column)
      #centralizedValue = value - eData[column].mean()
      #print(centralizedValue)
      # eData.at[row, column] = centralizedValue

eData

         CRIM         ZN     INDUS  CHAS  ...           B     LSTAT        TGT   0
0   -3.607204   6.636364 -8.826779     0  ...   40.225968 -7.673063   1.467194 NaN
1   -3.579072 -11.341179 -4.044769     0  ...   40.930858 -3.488057  -0.888275 NaN
2   -3.571965 -11.318765 -4.022803     0  ...   37.564354 -8.573101  12.256168 NaN
3   -3.559772 -11.296396 -8.890881     0  ...   40.066460 -9.638193  11.000524 NaN
4   -3.515993 -11.274071 -8.869002     0  ...   43.037179 -7.223335  13.844791 NaN
..        ...        ...       ...   ...  ...         ...       ...        ...  ..
501 -1.278597  -4.217828  7.796375     0  ...  259.603716  4.973577  14.036525 NaN
502 -1.293307  -4.209492  7.804544     0  ...  264.775349  4.392859  12.253053 NaN
503 -1.275171  -4.201173  7.812697     0  ...  265.036465  0.962122  15.569549 NaN
504 -1.223701  -4.192870  7.820834     0  ...  261.847065  1.811367  13.686012 NaN
505 -1.283246  -4.184584  7.828955     0  ...  265.557150  3.220593   3.602443 NaN

[506 rows x 15 columns]